<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>133081971353-7ifpj8qsudehnj41kes439jf17gubtam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133081971353-7ifpj8qsudehnj41kes439jf17gubtam</string>
	<key>API_KEY</key>
	<string>AIzaSyC_SE3Uk5A0ZQZRRTmUTbiV_CBkISGVCHM</string>
	<key>GCM_SENDER_ID</key>
	<string>133081971353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>k0254-hotmail.co.jp.chatApp</string>
	<key>PROJECT_ID</key>
	<string>sample-52978</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-52978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133081971353:ios:5126c9a5968a58af</string>
	<key>DATABASE_URL</key>
	<string>https://sample-52978.firebaseio.com</string>
</dict>
</plist>